@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
    color: #6f6f6f;
    border-bottom: 1px solid #9f9f9f;
    font-size: 18pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    text-transform: uppercase;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 16px 16px 0 16px;
}

a, button {
    color: #6f6f6f;
    background: #f8f8f8 !important;
    border-radius: 4px;
    padding: 8px 16px;

    &:focus, &:hover {
        background: #999999 !important;
        color: #fff;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
}
